@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .ltr {
    direction: ltr;
  }
}

@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: "Vazirmatn";
  src: url('../../public/assets/fonts/Vazirmatn-Black.ttf');
  font-weight: 900;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #E9EAED !important;
  font-family: 'Vazirmatn' !important;
  direction: rtl;
  
}

*{
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

:focus {
  /* outline: none; */
  /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important; */
}

*:focus {
  /* box-shadow: none !important;

  outline: none  !important; */
}

*[data-focus] {
  /* box-shadow: none !important; */

  /* outline: none  !important; */
}

*:hover{
  /* box-shadow: none !important; */
  /* outline: none  !important; */
}

*[data-hover]{
  /* box-shadow: none !important; */
  /* outline: none  !important; */
}

*[data-focus-visible]{

}

.css-g28pq9:focus-visible, .css-g28pq9[data-focus-visible] {

    border-color: initial !important;

}

.css-g28pq9:hover, .css-g28pq9[data-hover] {
  border-color:initial !important;
}

*[disabled]{
  opacity:1 !important
}